<launch>
    <!--Start the executable manage the dynamic graph and the robot control-->
    <node pkg="dg_blmc_robots" type="demo_dg_quadruped" name="main_quadruped" output="screen"/>

    <!-- Launch the oscilloscope -->
    <node pkg="rqt_plot" type="rqt_plot" name="quadruped_oscilloscope"/>

    <!-- Launch the rqt plugin to start the DG with one click -->
    <node pkg="rqt_dynamic_graph" type="rqt_dynamic_graph" name="dynamic_graph_gui"  />
</launch>